@tailwind base;
@tailwind components;
@tailwind utilities;

/* loading styles */
.loader {
  width: 60px;
  height: 60px;
  border: 10px solid #fff;
  border-bottom-color: #ffa500;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* scrollbar style */
.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 100vh;
  border: 3px solid #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #239cf9;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@layer components {
  .popover {
    @apply absolute py-2 -translate-x-1/2 border rounded-lg shadow-lg left-1/2 w-full bg-light text-dark z-100 overflow-y-auto scrollbar h-32;
  }
  .dropdown {
    @apply relative flex items-center gap-2 p-2 rounded-lg cursor-pointer sm:px-4 sm:gap-8 border bg-light text-dark;
  }
}
